body{
    overflow-x: hidden;
    font-family: 'K2D', sans-serif;
    color: #374F6E;
}
/************** HEADER *****************/
.nav-menu ul a{
    color: rgb(103, 132, 170) !important;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}

.nav-menu ul a:hover{
    color: #AB72CF !important;
    border-bottom: 1px solid #AB72CF;
    
}

header{
    background-color: rgb(255, 255, 255);
  
}

.f-link:link,
.f-link:visited{
    color: white;
    background-color: #A670EA;
    border-radius: 20px;
    padding: 5px 25px;
    text-decoration: none;
}
.f-link:hover,
.f-link:active{
    color: white;
    background-color: rgb(119, 64, 187);
    border-radius: 20px;
    padding: 5px 25px;
    text-decoration: none;
}

.s-link:link,
.s-link:visited{
    color: #A670EA;
    border-radius: 25px;
    border: 2px solid #A670EA;
    padding: 5px 20px;
    text-decoration: none;
}
.s-link:hover,
.s-link:active{
    color: white;
    background-color: #A670EA;
    border-radius: 25px;
    border: 2px solid #A670EA;
    padding: 5px 20px;
    text-decoration: none;
}

@media (min-width: 865px) {  
    .hero {
    font-size: 3.5rem;
  }}


  /**********************************************/
  .my-upper-header{
      color: #FB6A21;
  }
 
  .more{
      color: #A670EA;
  }