body{
    overflow-x: hidden;
    font-family: 'K2D', sans-serif;
    color: #374F6E;
}
/************** HEADER *****************/
.nav-menu ul a{
    color: rgb(103, 132, 170) !important;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}

.nav-menu ul a:hover{
    color: #AB72CF !important;
    border-bottom: 1px solid #AB72CF;
    
}

header{
    background-color: rgb(255, 255, 255);
  
}

.f-link:link,
.f-link:visited{
    color: white;
    background-color: #3D7FEF;
    border-radius: 20px;
    padding: 5px 25px;
    text-decoration: none;
}
.f-link:hover,
.f-link:active{
    color: white;
    background-color: rgb(56, 111, 206);
    border-radius: 20px;
    padding: 5px 25px;
    text-decoration: none;
}

.s-link:link,
.s-link:visited{
    color: #3D7FEF;
    border-radius: 25px;
    border: 2px solid #3D7FEF;
    padding: 5px 20px;
    text-decoration: none;
}
.s-link:hover,
.s-link:active{
    color: white;
    background-color: rgb(56, 111, 206);
    border-radius: 25px;
    border: 2px solid #3D7FEF;
    padding: 5px 20px;
    text-decoration: none;
}


/* .image-col{
    background-image: url("../image/mine.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 100vw;
    height: 90vh;


} */
