/************** HEADER *****************/
body{
    overflow: hidden;
}
header{
    position: relative;
}
.header {
    background-image: linear-gradient(rgba(0 , 0 , 0 , 0.1) ,rgba(0 , 0 , 0 , 0.0) ), url("../image/IMG_8485_header_resized.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.top-menu li {
    list-style: none;
    display: inline-block;
    margin-top: 3rem;

}
.top-menu li a{
    text-decoration: none;
    color: red;
    margin: 0 1rem;
    font-size: 1rem;
    color: white;
    padding:0.2rem 2rem;
    border-bottom: 2px solid transparent;
    transition: all .7s;
}

.top-menu li a:hover{
    border-bottom: 2px solid rgb(239, 255, 12);
}

.header-text{
    margin-top: 15rem;
    font-size: 10rem;
}
.text{
    font-size: 4rem;
}